/* Styles for the main container */
.BetButton-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #00000080;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

/* Styles for individual bet buttons */
.BetButton-button {
    background-color: #ffcc00;
    color: #000;
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 215, 0.5);
    flex-grow: 1;
}

/* Styles for the bets container */
.BetButton-bets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    background-color: #00000080;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 215, 0.5);
    width: 240px;
    height: 350px;
    overflow-y: auto;
}

/* Styles for the bet selection buttons */
.BetButton-bet-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.BetButton-bet-row {
    display: flex;
    gap: 10px;
}

.BetButton-bet-button {
    background-color: #ffcc00;
    color: #000;
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 215, 0.5);
    flex-grow: 1;
}

/* Styles for the Apply button */
.BetButton-apply-button {
    background-color: #ffcc00;
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 215, 0.5);
    margin-top: auto;
}

.highlighted {
    background-color: #efeded;
}

/* Styles for the Max Bet button */
.BetButton-max-bet-button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 215, 0.5);
    margin-top: 10px;
}