/* Styles for the main container/za glavniot kontejner */
.BetButton-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #00000080;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 215, 0.5);
    z-index: 1;
    min-width: 263px;
}

/* Styles for individual bet buttons/ za individualnite kopcinja (+, -, wage) */
.BetButton-button {
    background-color: #ffcc00;
    color: #000;
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 215, 0.5);
    flex-grow: 1!important;
}

/* Styles for the bets container/ kontejner za kaj sto se kladbite */
.BetButton-bets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: #00000080;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 215, 0.5);
    width: 300px; /* Increased width to accommodate 3 buttons per row */
    height: auto;
    overflow-y: auto;
    z-index: 3!important;
    position: absolute;
}

.bet-selection-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bet-button-clickable-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: transparent;
    z-index: 2!important;
}

/* Styles for the bet selection buttons/ za oblozite */
.BetButton-bet-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.BetButton-bet-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

/* za bet kopceto / for the bet button */
.BetButton-bet-button {
    background-color: #ffcc00;
    color: #000;
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 215, 0.5);
    flex-grow: 1;
    min-width: 145px;
    text-align: center;
}

/* Styles for the buttons container */
.BetButton-bets-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    flex-grow: 1;

}

.BetButton-apply-button,
.BetButton-max-bet-button {
    flex-grow: 1;
}

/* Styles for the Apply button */
.BetButton-apply-button {
    background-color: #ffcc00;
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 215, 0.5);
}

.highlighted {
    background-color: #efeded;
}

/* Styles for the Max Bet button */
.BetButton-max-bet-button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 215, 0.5);
}

/* New styles for the bet grid */
.BetButton-bet-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 300px;
}

@media (min-width: 768px) {
    .BetButton-bet-grid {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}
